*{
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: white;
}
#main_block{
    
}
#main_block h1{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    color: yellow;
}
#lft_btn{
    margin-left: 27%;
}
.btn{
    padding: 30px;
    background-color:rgb(184, 182, 182);
    font-size: 1em;
    font-weight: 800;
    box-sizing: border-box;
    border: 3px solid white;
}
#picture{

}
button:hover{
    background-color:yellow;
    color: red;
    border: 3px solid red;
}